<!DOCTYPE HTML>

<html>

<head>
	<title>Embedded Application Project 2017-2</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="static/css/main.css" />
</head>

<body id="top">

	<section id="banner" data-video="images/banner">
		<div class="inner">
			<header>
				<h1> *TRY NOT TO* CHALLENGE</h1>
			</header>
		</div>
	</section>

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Boxes -->
			<div class="thumbnails">

				<!--<div class="box">-->
					<!--<a href="#" class="image fit"><img src="static/images/pic01.jpg" alt="" />-->
                        <!--<div class="inner">-->
                            <!--<h2>TRY NOT TO LAUGH!</h2>-->
                            <!--<p> 절대 웃지 마세요! </p>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
                
                <div class="box">
					<a href="/joy_video" class="image fit"><img src="static/images/pic05.jpg" alt="" />
                        <div class="inner">
                            <h2>TRY NOT TO</br><strong>SING!</strong></h2>
                            <p> 절대 신나하지 마세요! </p>
                        </div>
                    </a>
				</div>
				<div class="box">
					<a href="#" class="image fit"><img src="static/images/pic02.jpg" alt="" />
                        <div class="inner">
                            <h2>TRY NOT TO</br><strong>CRY!</strong></h2>
                            <p> 절대 울지 마세요! </p>

                        </div>
                    </a>
				</div>
                <div class="box">
					<a href="#" class="image fit"><img src="static/images/pic03.jpg" alt="" />
                        <div class="inner">
                            <h2>TRY NOT TO</br><strong>SURPRISE!</strong></h2>
                            <p> 절대 놀라지 마세요! </p>

                        </div>
                    </a>
                </div>
                <div class="box">
					<a href="#" class="image fit"><img src="static/images/pic04.jpg" alt="" />
                        <div class="inner">
							<h2>TRY NOT TO</br><strong>ANGRY!</strong></h2>
                            <p> 절대 화내지 마세요! </p>

                        </div>
                    </a>
				</div>

			</div>

		</div>
	</div>


	<!-- Scripts -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.scrolly.min.js"></script>
	<script src="static/js/skel.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>

</body>

</html>