<!DOCTYPE HTML>

<html>

<head>
	<title>Embedded Application Project 2017-2</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="static/css/main.css" />
</head>

<body id="top">

	<section id="banner" style="padding: 5em 1em 5em 2em;" data-video="static/images/banner">
		<div class="inner">
			<header>
				<h1> REACTION </h1>
				<h2> Embedded Application Project 2017-2</br> 2014136070 SONG JAE YUN </h2>
				<!--<h2><a href="#" background-color="#70c7be">Login</a></h2>-->
			</header>
		</div>
	</section>

	<!-- Main -->
	<div id="main">
		<div class="inner" style="vertical-align: middle;">

			<!-- Boxes -->
			<div class="thumbnails" style="vertical-align: middle;">

				<div class="box" style="vertical-align: middle;">
					<a href="#" class="image fit"><img src="static/images/pic01.jpg" alt="" />
									<div class="inner">
										<h2>내 반응 확인하기</h2>
										<p>영상을 보고, 나의 반응은 어땠는지 확인해보세요.</p>
									</div>
								</a>
				</div>

				<div class="box">
					<a href="/challenge" class="image fit"><img src="static/images/pic02.jpg" alt="" />
								<div class="inner">
									<h2>TRY NOT TO CHALLENGE!</h2>
									<p>슬픈 영상 보고 울음 참기! 웃긴 영상 보고 웃음 참기! 놀라는 영상 보고 놀라지 말기!</p>

								</div>
								</a>
				</div>

			</div>

		</div>
	</div>


	<!-- Scripts -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.scrolly.min.js"></script>
	<script src="static/js/skel.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>

	<!-- </body>

</html> -->